@tailwind base;
@tailwind components;
@tailwind utilities;

  @layer base {
    :root {
      --background: #D6EEE2;
      --font-poppins: "Poppins", sans-serif;
    }

  }

  body {
    background-color: var(--background);
    font-family: var(--font-poppins);
  }

  