@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: gray;
    }

    .dark {
      --background: black;
      --foreground: white;
    }
  }

  body {
    background-color: var(--background);
  }