@tailwind base;
@tailwind components;
@tailwind utilities;

  @layer base {
    :root {
      /* --background: #D6EEE2; */
      --font-poppins: "Poppins", sans-serif;
    }

  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: var(--background);
    font-family: var(--font-poppins);
  }